<!DOCTYPE html>
<html>
	<head>
		<title>JARAM DRINKING</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{{ url_for('static', filename = 'main_css.css') }}" />
	</head>
	<body>
		<div id="user">
			<a href="login">login</a> / <a href="register">register</a></div>
		<div id="search"><input type="text" id="searchBar" placeholder="Search your drink..." /></div>
		<fieldset id="recommendation">
			your own recommendation here...
		</fieldset>
		<fieldset id="itemList">
			liquior list here...
		</fieldset>
	</body>
</html>